
/* Hamburger Menu Styling */
.hamburger {
    display: none;

}

.bar {
    display: block;
    width: 22px;
    height: 2px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
    font-size: 30px;
}

@media (max-width:768px) {
    
    .hamburger {
        display: block;
        cursor: pointer;
        /* padding-right: 20px; */
        border: 3px solid black;
        margin: 0 12px;
        padding: 2px 4px;

    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(6px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);

    }
}