@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu&display=swap');
/* @import 'tailwindcss/base'; */
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {
    overflow-x: hidden;
}


.grid {
    display: grid;
    gap: 5rem;
}

.grid-two-column {
    grid-template-columns: repeat(2, 1fr);
}

.hero {

    display: flex;
    justify-content: space-around;
    align-items: center;


}

@media (max-width:1024px) {
    .grid {

        gap: 0;
    }
}

/* new header responsive */
@media (max-width:768px) {
    .button {
        display: flex;
        margin: 4px 0;
        padding: 7px 13px;
        cursor: pointer;
        border: none;
        border-radius: 7px;
        font-size: 15px;
        background-color: #3AF507;
        color: black;
        font-family: 'Poppins', sans-serif;



    }


}