@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu&display=swap');
/* @import 'tailwindcss/base'; */
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}




.grid {
    display: grid;
    gap: 5rem;
}

.grid-two-column {
    grid-template-columns: repeat(2, 1fr);
}

.hero {

    display: flex;
    justify-content: space-around;
    align-items: center;


}

@media (max-width:1024px) {
    .grid{
       
        gap : 0;
    }
}





    /* Menu Css */
    a {
        font-size: 15px;
        color: white;
    }

    .navlist {

        gap: 1.0rem;

    }

    .navlist {
        position: fixed;
        left: 0;
        /* right: -100%; */
        top: -100%;
        flex-direction: column;
        background-color: black;
        width: 100%;
        text-align: center;
        transition: 0.5s;
        box-shadow: 0 10px 27px rgb(0 0 0 / 5%);
    }

    .navlist.active {
        left: 0;
        top: 12%;

    }


